[submodule "libapps"]
	path = deps/libapps
	url = https://github.com/emkey1/libapps
[submodule "deps/libarchive"]
	path = deps/libarchive
	url = https://github.com/libarchive/libarchive
[submodule "deps/linux"]
	path = deps/linux
	url = https://github.com/ish-app/linux
	update = none
	shallow = true
[submodule "deps/rootfs-manifest"]
	path = deps/rootfs-manifest
	url = https://github.com/emkey1/ish-AOK-rootfs.git
[submodule "deps/smallclue"]
	path = deps/smallclue
	url = https://github.com/emkey1/smallclue.git
[submodule "deps/bash"]
	path = deps/bash
	url = https://github.com/emkey1/bash.git
	branch = main
[submodule "deps/zsh"]
	path = deps/zsh
	url = https://github.com/emkey1/zsh.git
	branch = ish-aok
